In [37]:
import numpy as np
import pandas as pd

In [38]:
df = pd.read_csv('starwars_2116.csv', header=0)
df.head()

,rating,review,displayName,displayImageUrl,isVerified,isSuperReviewer,hasSpoilers,hasProfanity,createDate,updateDate,user,score,timeFromCreation
0,STAR_5,I loved every second of it! Your whole family ...,Ana,NaN,True,False,False,False,2019-12-31T20:46:25.785Z,2019-12-31T20:46:25.785Z,{'userId': '4358D69E-C41E-4C6E-84E4-5C9EAD52BA...,5.0,58m ago
1,STAR_5,Such an amazing end to the saga!! I absolutely...,MCKENNA,NaN,False,False,False,False,2019-12-31T20:46:07.395Z,2019-12-31T20:46:07.395Z,{'userId': '89ED17CC-FB13-4390-BE58-CED518E05B...,5.0,58m ago
2,STAR_4_5,Very good conclusion to Star Wars!!!,Elliott S,NaN,False,False,False,False,2019-12-31T20:45:10.551Z,2019-12-31T20:45:10.551Z,"{'userId': '977941149', 'realm': 'RT', 'displa...",4.5,59m ago
3,STAR_5,Loved it! Awesome conclusion.,Tyrone,NaN,True,False,False,False,2019-12-31T20:42:51.963Z,2019-12-31T20:42:51.963Z,{'userId': '1113D462-38A1-4D2A-8D6B-6A7E83EF6E...,5.0,1h ago
4,STAR_2,Not great. I hope this is the last one. Didn’t...,Jan M,NaN,False,False,False,False,2019-12-31T20:39:12.149Z,2019-12-31T20:39:12.149Z,{'userId': 'FCA77CBC-4064-4BA9-A0B2-F222B0943F...,2.0,1h ago

In [39]:
# cleaning
features = ['review', 'displayName', 'isVerified', 'isSuperReviewer', 'hasSpoilers', 
 'hasProfanity', 'createDate', 'updateDate', 'score']
df[features].head()

,review,displayName,isVerified,isSuperReviewer,hasSpoilers,hasProfanity,createDate,updateDate,score
0,I loved every second of it! Your whole family ...,Ana,True,False,False,False,2019-12-31T20:46:25.785Z,2019-12-31T20:46:25.785Z,5.0
1,Such an amazing end to the saga!! I absolutely...,MCKENNA,False,False,False,False,2019-12-31T20:46:07.395Z,2019-12-31T20:46:07.395Z,5.0
2,Very good conclusion to Star Wars!!!,Elliott S,False,False,False,False,2019-12-31T20:45:10.551Z,2019-12-31T20:45:10.551Z,4.5
3,Loved it! Awesome conclusion.,Tyrone,True,False,False,False,2019-12-31T20:42:51.963Z,2019-12-31T20:42:51.963Z,5.0
4,Not great. I hope this is the last one. Didn’t...,Jan M,False,False,False,False,2019-12-31T20:39:12.149Z,2019-12-31T20:39:12.149Z,2.0

In [40]:
df[features].describe(include="all")

,review,displayName,isVerified,isSuperReviewer,hasSpoilers,hasProfanity,createDate,updateDate,score
count,3830,3685,3830,3830,3830,3830,3830,3830,3830.000000
unique,3825,3014,2,1,2,2,3830,3830,NaN
top,"Oof, that was Rotten.",David,True,False,False,False,2019-12-29T14:20:47.756Z,2019-12-29T14:20:47.756Z,NaN
freq,2,21,2521,3830,3749,3771,1,1,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.857180
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.423727
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.500000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000

In [41]:
df = df[features]
# change boolean values to binary
bf = ['isVerified', 'isSuperReviewer', 'hasSpoilers', 'hasProfanity']
df[bf] = (df[bf] == 'True').astype(int)
df.head()

,review,displayName,isVerified,isSuperReviewer,hasSpoilers,hasProfanity,createDate,updateDate,score
0,I loved every second of it! Your whole family ...,Ana,0,0,0,0,2019-12-31T20:46:25.785Z,2019-12-31T20:46:25.785Z,5.0
1,Such an amazing end to the saga!! I absolutely...,MCKENNA,0,0,0,0,2019-12-31T20:46:07.395Z,2019-12-31T20:46:07.395Z,5.0
2,Very good conclusion to Star Wars!!!,Elliott S,0,0,0,0,2019-12-31T20:45:10.551Z,2019-12-31T20:45:10.551Z,4.5
3,Loved it! Awesome conclusion.,Tyrone,0,0,0,0,2019-12-31T20:42:51.963Z,2019-12-31T20:42:51.963Z,5.0
4,Not great. I hope this is the last one. Didn’t...,Jan M,0,0,0,0,2019-12-31T20:39:12.149Z,2019-12-31T20:39:12.149Z,2.0

In [42]:
df.describe(include="all")

,review,displayName,isVerified,isSuperReviewer,hasSpoilers,hasProfanity,createDate,updateDate,score
count,3830,3685,3830.0,3830.0,3830.0,3830.0,3830,3830,3830.000000
unique,3825,3014,NaN,NaN,NaN,NaN,3830,3830,NaN
top,"Oof, that was Rotten.",David,NaN,NaN,NaN,NaN,2019-12-29T14:20:47.756Z,2019-12-29T14:20:47.756Z,NaN
freq,2,21,NaN,NaN,NaN,NaN,1,1,NaN
mean,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,3.857180
std,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,1.423727
min,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.500000
25%,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,3.000000
50%,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,4.500000
75%,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,5.000000
max,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,5.000000

In [44]:
df['review_length'] = df.apply(lambda x : len(x['review']), axis=1)
df.head()

,review,displayName,isVerified,isSuperReviewer,hasSpoilers,hasProfanity,createDate,updateDate,score,review_length
0,I loved every second of it! Your whole family ...,Ana,0,0,0,0,2019-12-31T20:46:25.785Z,2019-12-31T20:46:25.785Z,5.0,278
1,Such an amazing end to the saga!! I absolutely...,MCKENNA,0,0,0,0,2019-12-31T20:46:07.395Z,2019-12-31T20:46:07.395Z,5.0,68
2,Very good conclusion to Star Wars!!!,Elliott S,0,0,0,0,2019-12-31T20:45:10.551Z,2019-12-31T20:45:10.551Z,4.5,36
3,Loved it! Awesome conclusion.,Tyrone,0,0,0,0,2019-12-31T20:42:51.963Z,2019-12-31T20:42:51.963Z,5.0,29
4,Not great. I hope this is the last one. Didn’t...,Jan M,0,0,0,0,2019-12-31T20:39:12.149Z,2019-12-31T20:39:12.149Z,2.0,133

In [46]:
df.describe(include="all")

,review,displayName,isVerified,isSuperReviewer,hasSpoilers,hasProfanity,createDate,updateDate,score,review_length
count,3830,3685,3830.0,3830.0,3830.0,3830.0,3830,3830,3830.000000,3830.000000
unique,3825,3014,NaN,NaN,NaN,NaN,3830,3830,NaN,NaN
top,"Oof, that was Rotten.",David,NaN,NaN,NaN,NaN,2019-12-29T14:20:47.756Z,2019-12-29T14:20:47.756Z,NaN,NaN
freq,2,21,NaN,NaN,NaN,NaN,1,1,NaN,NaN
mean,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,3.857180,130.121671
std,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,1.423727,168.197667
min,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.500000,18.000000
25%,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,3.000000,46.000000
50%,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,4.500000,87.000000
75%,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,5.000000,164.000000
max,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,5.000000,6590.000000

In [49]:
#df.dropna().describe(include="all")

,review,displayName,isVerified,isSuperReviewer,hasSpoilers,hasProfanity,createDate,updateDate,score,review_length
count,3685,3685,3685.0,3685.0,3685.0,3685.0,3685,3685,3685.000000,3685.000000
unique,3680,3014,NaN,NaN,NaN,NaN,3685,3685,NaN,NaN
top,It was a good movie.,David,NaN,NaN,NaN,NaN,2019-12-29T14:20:47.756Z,2019-12-29T14:20:47.756Z,NaN,NaN
freq,2,21,NaN,NaN,NaN,NaN,1,1,NaN,NaN
mean,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,3.874084,128.946811
std,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,1.416666,169.655642
min,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.500000,18.000000
25%,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,3.000000,46.000000
50%,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,4.500000,85.000000
75%,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,5.000000,163.000000
max,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,5.000000,6590.000000

In [ ]:
# Conclusions
# We look at displayName and see there are 3685, yet only 3014 unique